---
layout: page
title: About
subtitle: And ye shall know the truth, and the truth shall make you free.
permalink: /about/
---

<h1>About this Blog</h1>
<p>And ye shall know the truth, and the truth shall make you free. John 8:32.</p>
<p>சத்தியத்தையும் அறிவீர்கள், சத்தியம் உங்களை விடுதலையாக்கும் என்றார். யோவான் 8:32.</p>

  Based on this scripture, I want to know more about the Truth. Everytime i know something new, by reading Bible, or by listening sermon, or by any means, i just post here.

<h3>About me</h3>

<p>I am A believer, who believes in GOD and His only begotten Son the Christ and the Holy Sprit.</p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
